<h1>Mis Productos</h1>
<div class="contenedor">
    {{#each productos}}
    <div class="card">
        <p>{{this.title}}</p>
        <p>Descripcion:{{this.description}}</p>
        <p>Precio:{{this.price}}</p>
        <p>Codigo:{{this.code}}</p>
        <p>Stock:{{this.stock}}</p>
        <p>Categoria:{{this.category}}</p>
        <p>{{this.thumbnails}}</p>
        <button onclick="agregarCarrito({{this.id}})">AGREGAR AL CARRITO</button>
    </div>
    {{/each}}

     <div class="pagination">
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}"> Anterior </a>
        {{/if}}

        <span> Página {{currentPage}} de {{totalPages}} </span>

        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}"> Siguiente </a>
        {{/if}}
    </div>
</div>

</div>
<form id="nuevoProductoForm">
    <input type="text" name="titulo" placeholder="Título">
    <input type="text" name="descripcion" placeholder="Descripción">
    <input type="number" name="precio" placeholder="Precio">
    <input type="text" name="codigo" placeholder="Código">
    <input type="number" name="stock" placeholder="Stock">
    <button type="submit">Agregar Producto</button>
</form>